<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Spotify eReader</title>

	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/nav-player.css">
	<link rel="stylesheet" href="css/utils.css">
	<link rel="stylesheet" href="css/overlay.css">
</head>
<body>
	<nav>
		<span onclick="viewHome()"><i class="mdi mdi-spotify"></i> Spotify</span>

		<div id="navbar-links">
			<i id="nav-search-btn" class="mdi mdi-magnify" onclick="viewSearch()"></i>
			<i id="nav-library-btn" class="mdi mdi-music-box-multiple" onclick="viewLibrary()"></i>
		</div>
	</nav>

	<div id="app">
	</div>

	<div id="playing">
		<div id="playing-info">
			<span id="playing-title">No music currently playing</span>
			<span id="playing-artist"></span>

			<!-- <i id="playing-previous" class="mdi mdi-heart-outline" style="float: right; display: none;" onclick="toggleLike()"></i> -->
		</div>
		<hr>
		<div id="playing-controls">
			<div id="playing-controls-device" onclick="viewSpeakerMenu()"><i class="mdi mdi-cast-audio"></i><span id="playing-device-name">No device</span></div>
			<div id="playing-controls-playback">
				<i id="playing-previous" class="mdi mdi-skip-previous" onclick="previousSong()"></i>
				<i id="playing-playpause" class="mdi mdi-play" onclick="togglePlayback()"></i>
				<i id="playing-next" class="mdi mdi-skip-next" onclick="nextSong()"></i>
			</div>
		</div>
	</div>

	<div id="overlay">
		<div id="overlay-track-info">
			<img id="overlay-track-img" src="https://i.scdn.co/image/ab67616d0000b273cca4536013d00dc9249923bd">
			<div id="overlay-track-info-content">
				<h1 id="overlay-track-info-name">Chess Bling</h4>
				<h4 id="overlay-track-info-artist">Chuck Sutton</h6>
				<h4 id="overlay-track-info-album">i know what i'm doing*</h4>
			</div>
		</div>

		<div class="overlay-close-fab"><i class="mdi mdi-close" style="vertical-align: middle"></i></div>
	</div>

	<script src='js/main.js'></script>
	<script src='js/playback.js'></script>
</body>
</html>
