<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Spotify eReader</title>

	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<nav>
		<span><i class="mdi mdi-spotify"></i> Spotify</span>
	</nav>

	<div id="app">
		<div id="app-home">
			<div class="home-recent-row">
				<div class="home-recent-card">
					<img class="recent-img playlist-img" src="https://dailymix-images.scdn.co/v2/img/bbd2fdba521b7c99b0450302f8b3171f8b1a49f1/2/en/default">
					Daily Mix 2
				</div>
				<div class="home-recent-card">
					<img class="recent-img playlist-img" src="https://newjams-images.scdn.co/v3/discover-weekly/Y8Clxc7WREsAIVPtmu9lSFSXZkcaReP5_59inkDxvGz2wZefRPA_orNH1Nyzz8Hq-LLOwFa87e3ecTn_2ooZibAFv5cz_8-0koKKrDw1UmM=/ODU6NzBUMjAtNDAtMTIwMg==/default">
					Discover Weelky
				</div>
				<div class="home-recent-card">
					<img class="recent-img playlist-img" src="https://i.scdn.co/image/ab67706c0000da84c062e067f8f59717bbf0bda4">
					that playlist
				</div>
			</div>
			<div class="home-recent-row">
				<div class="home-recent-card">
					<img class="recent-img artist-img" src="https://i.scdn.co/image/6d2c1f3c187f17d46eeb3734fe0b3a88f5a18523">
					Snail's House
				</div>
				<div class="home-recent-card">
					<img class="recent-img album-img" src="https://i.scdn.co/image/ab67616d0000b273f8032b45952f51bad8c4c813">
					<span class="recent-album-name">Ugh!</span><br>
					<span class="recent-artist-name">dwilly</span>
				</div>
				<div class="home-recent-card">
					<img class="recent-img playlist-img" src="https://daily-mix.scdn.co/covers/on_repeat/PZN_On_Repeat_LARGE-en.jpg">
					On Repeat
				</div>
			</div>
		</div>
	</div>

	<div id="playing">
		<div id="playing-info">
			<span id="playing-title">Princess</span>
			<span id="playing-artist"> - Your Neighbors</span>
		</div>
		<hr>
		<div id="playing-controls">
			<div id="playing-controls-device"><i class="mdi mdi-cast-audio"></i><span id="playing-device-name">Redmi Note 8</span></div>
			<div id="playing-controls-playback">
				<i class="mdi mdi-skip-previous"></i>
				<i class="mdi mdi-play"></i>
				<i class="mdi mdi-skip-next"></i>
			</div>
		</div>
	</div>
</body>
</html>
