<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Spotify eReader</title>

	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/nav-player.css">
	<link rel="stylesheet" href="css/utils.css">
</head>
<body>
	<nav>
		<span onclick="viewHome()"><i class="mdi mdi-spotify"></i> Spotify</span>

		<div id="navbar-links">
			<i id="nav-search-btn" class="mdi mdi-magnify"></i>
			<i id="nav-library-btn" class="mdi mdi-music-box-multiple"></i>
		</div>
	</nav>

	<div id="app">
	</div>

	<div id="playing">
		<div id="playing-info">
			<span id="playing-title">Princess</span>
			<span id="playing-artist"> - Your Neighbors</span>
		</div>
		<hr>
		<div id="playing-controls">
			<div id="playing-controls-device"><i class="mdi mdi-cast-audio"></i><span id="playing-device-name">Redmi Note 8</span></div>
			<div id="playing-controls-playback">
				<i class="mdi mdi-skip-previous"></i>
				<i class="mdi mdi-play"></i>
				<i class="mdi mdi-skip-next"></i>
			</div>
		</div>
	</div>
	<script src='js/main.js'></script>
</body>
</html>
