nav,
#playing {
	background: black;
	color: white;

	position: fixed;
	left: 0;
	width: 100%;
	z-index: 999;

	padding: .75rem 1rem;
	box-sizing: border-box;
}

nav {
	top: 0;
}

#navbar-links {
	float: right;
}

#playing {
	display: block;
	bottom: 0;
}

#playing-title,
#playing-artist {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#playing-artist {
	font-size: .9rem;
}

#playing-controls {
	display: -webkit-inline-box;
}

#playing-controls > * > .mdi {
	font-size: 2rem;
}

#playing-device-name {
	margin-left: .5rem;
}

#playing-controls-playback {
	position: absolute;
    right: 1rem;
}

#playing-controls-playback > .mdi,
#navbar-links > .mdi {
	margin-left: 1rem;
}