@import url("https://cdn.materialdesignicons.com/5.3.45/css/materialdesignicons.min.css");

html, body {
	height: 100%;
	overflow: hidden;
}

body {
	margin: 0;

	font-size: 1.3rem;
	font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	margin-block-start: 0;
	margin-top: 0;
}

#app {
	height: 73%;
	padding: .75rem;

	margin-bottom: auto;
}

.home-recent-row {
	display: -webkit-inline-box;
	margin-bottom: .75rem;
}

.home-recent-card {
	width: calc(100% / 3);
	line-height: 1;
}

.recent-img {
	width: inherit;
	margin-right: .5rem;
	float: left;
}

.artist-img {
	border-radius: 100%;
}

.recent-artist-name {
	color: #3A3A3A;
	font-size: 1rem;
}

nav,
#playing {
	background: black;
	color: white;

	padding: .75rem 1rem;
	box-sizing: border-box;
}

#playing {
	display: block;
	width: -webkit-fill-available;

	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

#playing-title,
#playing-artist {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#playing-artist {
	font-size: .9rem;
}

#playing-controls {
	display: -webkit-inline-box;
}

#playing-controls > * > .mdi {
	font-size: 2rem;
}

#playing-device-name {
	margin-left: .5rem;
}

#playing-controls-playback {
	position: absolute;
    right: 1rem;
}

#playing-controls-playback > .mdi {
	margin-left: 1rem;
}