@import url("https://cdn.materialdesignicons.com/5.3.45/css/materialdesignicons.min.css");

html, body {
	height: 100%;
	overflow: hidden;
}

body {
	margin: 0;
	font-size: 1.1rem;

	font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	margin-block-start: 0;
	margin-top: 0;
}

#app {
	height: calc(100% - 147px - 1.5rem);
	padding: .75rem;

	margin-bottom: auto;
	overflow: auto;
}

.home-section,
.search-section {
	margin-bottom: 1.5rem;
}

.home-section-title,
.search-section-title {
	margin-block-end: .5rem;
	margin-bottom: .5rem;
}

.home-grid-view {
	line-height: 0;
}

.home-recent-row,
.search-res-global-row {
	display: -webkit-inline-box;
	margin-bottom: .75rem;
}

.home-recent-item,
.search-res-global-item {
	width: calc(100% / 3);
	line-height: 1;
}

.recent-img {
	width: inherit;
	margin-right: .5rem;
	float: left;
}

.artist-img {
	border-radius: 100%;
}

.recent-artist-name,
.search-res-item-artist {
	color: #3A3A3A;
	font-size: 1rem;
}

.playlist-header,
.album-header,
.artist-header {
	display: -webkit-inline-box;
	width: -webkit-fill-available;
	margin-bottom: .75rem;
	position: relative;
}

.playlist-img-header,
.album-img-header,
.artist-img-header {
	height: 10rem;
	width: 10rem;
	object-fit: cover;
	margin-right: .75rem;
	box-sizing: border-box;
}

.playlist-header-info,
.album-header-info,
.artist-header-info {
	width: calc(100% - 10.75rem);
	line-height: normal;
}

.playlist-header-name {
	margin-bottom: 0;
}

.album-header-name,
.artist-header-name {
	margin-bottom: 0;
	line-height: .7;
    padding-top: .5rem;
}

.playlist-header-desc,
.album-header-desc,
.artist-header-desc {
	margin: 0;
	font-size: 1rem;
}

.view-header-actions {
	width: -webkit-fill-available;
	position: absolute;
    left: 0;
    bottom: 0;
    padding-left: 10.75rem;
}

.view-header-actions > .mdi {
	vertical-align: middle;
}

.header-actions-more {
	position: absolute;
	right: 0;
	top: calc(100% / 5);
}

.artist-follow-btn,
.playlist-follow-btn {
	display: -webkit-inline-box;
	font-size: .8rem;
    padding: .5rem 1rem;
    border: solid 2px #999999;
    color: #3e3e3e;
	border-radius: .25rem;
	margin-right: .5rem;
	box-sizing: border-box;
}

.playlist-followed-btn,
.artist-followed-btn {
	background: #1DB954;
	border-color: #14813b;
	color: white;
}

.playlist-shuffle-btn,
.album-shuffle-btn,
.artist-shuffle-btn {
	padding: .5rem .75rem;
	background: #1DB954;
	color: white;
    border-radius: 9999px;
    position: absolute;
    right: 1.5rem;
    bottom: calc(150px - 2rem);
}

.playlist-shuffle-btn > .mdi,
.album-shuffle-btn > .mdi,
.artist-shuffle-btn > .mdi {
	margin-right: .25rem;
}

.playlist-header,
.playlist-content,
.album-header,
.album-content,
.artist-header,
.artist-content {
	line-height: 0;
}

.playlist-song,
.album-song,
.artist-song,
.spotify-connect-device {
	display: -webkit-inline-box;
	width: 100%;
	margin-bottom: .75rem;
	overflow: hidden;
	-webkit-box-align: center;
}

.playlist-song-img,
.album-song-img,
.artist-song-img {
	height: 3rem;
	width: 3rem;
	margin-right: .75rem;
}

.playlist-song-info,
.album-song-info,
.artist-song-info {
	line-height: 1;
}

.playlist-song-name,
.album-song-name,
.artist-song-name {
	font-weight: bold;
	font-size: 1rem;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.playlist-song-artist,
.album-song-artist,
.artist-song-album {
	font-size: .9rem;
}

.library-tabs {
	display: -webkit-inline-box;
	margin-bottom: .75rem;
}

.library-tabs > * {
	margin-right: 1.5rem;
}

.library-tab-selected {
	border-bottom: solid 4px #1DB954;
	font-weight: bold;
}

.library-content {
	line-height: 0;
}

.library-item {
	margin-bottom: .75rem;
	line-height: 0;
	width: 100%;
	display: -webkit-inline-box;
}

.library-img {
	height: 5rem;
	width: 5rem;
	margin-right: .75rem;
}

.library-item-info {
	line-height: 1;
}

.library-item-name {
	font-size: 1.4rem;
	font-weight: bold;
	margin-bottom: .25rem;
}

.searchbox {
	background: #EEEEEE;
	padding: .5rem .75rem;
	margin-bottom: .75rem;
	border-radius: 9999px;
	display: -webkit-inline-box;
	width: 100%;
	box-sizing: border-box;
}

.searchbox-input {
	background: transparent;
	border: none;
	outline: none !important;
	width: 100%;
}

#search-results {
	overflow: auto;
}

.error-refresh-div {
	margin-top: .75rem;
}

.error-refresh-btn {
    box-sizing: border-box;
    padding: .5rem .75rem;
    background: #1DB954;
    border-radius: 9999px;
}

.error-refresh-btn > i.mdi {
	margin-right: .25rem;
}

.spotify-connect-header {
	margin-bottom: 1.5rem;
	display: -webkit-inline-box;
    -webkit-box-align: center;
}

.spotify-connect-device-icon {
	font-size: 2rem;
	margin-right: .75rem;
}

.spotify-connect-volume-icon {
	margin-left: .75rem;
	font-size: 1.75rem;
}

.spotify-connect-device-volume-controls-div {
	position: absolute;
	right: 1rem;
	z-index: 999;
}