<div id="app-album">
	<div class="album-header">
		<img class="album-img album-img-header" src="{album_img}">
		<div class="album-header-info">
			<h2 class="album-header-name">{album_name}</h2>
			<p class="album-header-desc">{album_artist}</p>
		</div>
		<div class="view-header-actions">
			<i class="mdi mdi-heart-outline"></i>
			<i class="mdi mdi-dots-horizontal f-right"></i>
		</div>
	</div>

	<div class="album-content">
		{songs_list}
	</div>

	<span class="album-shuffle-btn" onclick="playUri('{album_uri}', true)"><i class="mdi mdi-shuffle"></i>Shuffle play</span>
</div>