<div id="app-artist">
	<div class="artist-header">
		<img class="artist-img artist-img-header" src="{artist_img}">
		<div class="artist-header-info">
			<h1 class="artist-header-name">{artist_name}</h1>
			<span class="artist-header-desc">{artist_description}</span>

			<div class="view-header-actions">
				<div class="artist-follow-btn{artist-follow-btn-class}" {artist-follow-btn-function}>{artist-follow-btn-text}</div>
				<i class="mdi mdi-dots-horizontal header-actions-more"></i>
			</div>
		</div>
	</div>

	<div class="artist-content">
		{songs_list}
	</div>

	<span class="artist-shuffle-btn" onclick="playUri('{artist_uri}', true)"><i class="mdi mdi-shuffle"></i>Shuffle play</span>
</div>