<div id="app-home">
	<div class="home-section">
		<h3 class="home-section-title">Recently played</h3>
		<div class="home-grid-view">
			<div class="home-recent-row">
				<div class="home-recent-card" onclick="openPlaylist('37i9dQZF1E36VcOwOXhw0S')">
					<img class="recent-img playlist-img" src="https://dailymix-images.scdn.co/v2/img/bbd2fdba521b7c99b0450302f8b3171f8b1a49f1/2/en/default">
					Daily Mix 2
				</div>
				<div class="home-recent-card" onclick="openPlaylist('37i9dQZEVXcOFbpsnrBBJ8')">
					<img class="recent-img playlist-img" src="https://newjams-images.scdn.co/v3/discover-weekly/Y8Clxc7WREsAIVPtmu9lSFSXZkcaReP5_59inkDxvGz2wZefRPA_orNH1Nyzz8Hq-LLOwFa87e3ecTn_2ooZibAFv5cz_8-0koKKrDw1UmM=/ODU6NzBUMjAtNDAtMTIwMg==/default">
					Discover Weekly
				</div>
				<div class="home-recent-card" onclick="openArtist('6mpyU2azr3zfZDY9k8w5GP')">
					<img class="recent-img artist-img" src="https://i.scdn.co/image/bbd2fdba521b7c99b0450302f8b3171f8b1a49f1">
					Your Neighbors
				</div>
			</div>
			<div class="home-recent-row">
				<div class="home-recent-card" onclick="openArtist('29O9ZebFa65aIEvMaW5pQY')">
					<img class="recent-img artist-img" src="https://i.scdn.co/image/6d2c1f3c187f17d46eeb3734fe0b3a88f5a18523">
					Snail's House
				</div>
				<div class="home-recent-card" onclick="playSong('spotify:track:5p6SMibx8q56JAwC64P8qg')">
					<img class="recent-img album-img" src="https://i.scdn.co/image/ab67616d0000b273f8032b45952f51bad8c4c813">
					<span class="recent-album-name">Ugh!</span><br>
					<span class="recent-artist-name">dwilly</span>
				</div>
				<div class="home-recent-card" onclick="openAlbum('2pmyJxHxpZOYu5XwyJs0Fd')">
					<img class="recent-img album-img" src="https://i.scdn.co/image/ab67616d00001e0220eefbf93f2df39a72414efe">
					<span class="recent-album-name">Black</span><br>
					<span class="recent-artist-name">8 Graves</span>
				</div>
			</div>
		</div>
	</div>

	<div class="home-section">
		<h3 class="home-section-title">Recently played</h3>
		<div class="home-grid-view">
			{recently_played_content}
		</div>
	</div>

	<h3 class="home-section">Made for you<i class="mdi mdi-arrow-right-circle f-right"></i></h3>
</div>