<div id="app-library">
	<div class="library-tabs">
		<span class="library-tab-selected">Playlists</span>
		<span>Artists</span>
		<span>Albums</span>
	</div>

	<div class="library-content">
		<div class="library-item">
			<img class="library-img playlist-img" src="https://i.scdn.co/image/ab67616d00001e028d7d3584e5220d0cd406eea4">
			<div class="library-item-info">
				<span class="library-item-name">yooooo</span><br>
				<span class="library-item-author">by busybox</span>
			</div>
		</div>

		<div class="library-item">
			<img class="library-img playlist-img" src="https://i.scdn.co/image/ab67706c0000da84c062e067f8f59717bbf0bda4">
			<div class="library-item-info">
				<span class="library-item-name">that playlist</span><br>
				<span class="library-item-author">by busybox</span>
			</div>
		</div>

		<div class="library-item">
			<img class="library-img playlist-img" src="https://dailymix-images.scdn.co/v2/img/bbd2fdba521b7c99b0450302f8b3171f8b1a49f1/2/en/default">
			<div class="library-item-info">
				<span class="library-item-name">Daily Mix 2</span><br>
				<span class="library-item-author">Made for you</span>
			</div>
		</div>

		<div class="library-item">
			<img class="library-img playlist-img" src="https://i.scdn.co/image/ab67706c0000da84af4778ca8e423666ecdaf87d">
			<div class="library-item-info">
				<span class="library-item-name">Mood</span><br>
				<span class="library-item-author">by 𝚃𝚘𝚖𝚊𝚝𝚎 𝙲𝚎𝚛𝚒𝚜𝚎</span>
			</div>
		</div>

		<div class="library-item" onclick="openPlaylist('37i9dQZEVXcOFbpsnrBBJ8')">
			<img class="library-img playlist-img" src="https://newjams-images.scdn.co/v3/discover-weekly/Y8Clxc7WREsAIVPtmu9lSFSXZkcaReP5_59inkDxvGz2wZefRPA_orNH1Nyzz8Hq-LLOwFa87e3ecTn_2ooZibAFv5cz_8-0koKKrDw1UmM=/ODU6NzBUMjAtNDAtMTIwMg==/default">
			<div class="library-item-info">
				<span class="library-item-name">Discover Weekly</span><br>
				<span class="library-item-author">Made for you</span>
			</div>
		</div>

		<div class="library-item">
			<img class="library-img playlist-img" src="https://daily-mix.scdn.co/covers/on_repeat/PZN_On_Repeat_DEFAULT-en.jpg">
			<div class="library-item-info">
				<span class="library-item-name">On Repeat</span><br>
				<span class="library-item-author">Made for you</span>
			</div>
		</div>
	</div>
</div>