<div id="app-playlist">
	<div class="playlist-header">
		<img class="playlist-img playlist-img-header" src="https://newjams-images.scdn.co/v3/discover-weekly/Y8Clxc7WREsAIVPtmu9lSFSXZkcaReP5_59inkDxvGz2wZefRPA_orNH1Nyzz8Hq-LLOwFa87e3ecTn_2ooZibAFv5cz_8-0koKKrDw1UmM=/ODU6NzBUMjAtNDAtMTIwMg==/default">
		<div class="playlist-header-info">
			<h3 class="playlist-header-name">Discover Weekly</h3>
			<p class="playlist-header-desc">Your weekly mixtape of fresh music. Enjoy new music and deep cuts picked for you. Updates every Monday.</p>
		</div>
	</div>

	<div class="playlist-content">
		<div class="playlist-song">
			<img class="playlist-song-img" src="https://i.scdn.co/image/ab67616d000048519342b4662952402c5d597b74">
			<div class="playlist-song-info">
				<span class="playlist-song-name">Skeleton</span><br>
				<span class="playlist-song-artist">Fewjar</span>
			</div>
		</div>

		<div class="playlist-song">
			<img class="playlist-song-img" src="https://i.scdn.co/image/ab67616d000048519f42ffd7242ea2f76cfe2332">
			<div class="playlist-song-info">
				<span class="playlist-song-name">On My Way Out</span><br>
				<span class="playlist-song-artist">Getter, Joji</span>
			</div>
		</div>

		<div class="playlist-song">
			<img class="playlist-song-img" src="https://i.scdn.co/image/ab67616d000048515ed0c4f05b169a41dfc98034">
			<div class="playlist-song-info">
				<span class="playlist-song-name">プレイバック - Remix by Metome</span><br>
				<span class="playlist-song-artist">Indigo la End, Metome</span>
			</div>
		</div>

		<div class="playlist-song">
			<img class="playlist-song-img" src="https://i.scdn.co/image/ab67616d000048518d7d3584e5220d0cd406eea4">
			<div class="playlist-song-info">
				<span class="playlist-song-name">Feeling Lonely</span><br>
				<span class="playlist-song-artist">boy pablo</span>
			</div>
		</div>

		<div class="playlist-song">
			<img class="playlist-song-img" src="https://i.scdn.co/image/ab67616d000048517daa64ae9b0d92ff849f8b42">
			<div class="playlist-song-info">
				<span class="playlist-song-name">Elon Musk</span><br>
				<span class="playlist-song-artist">Boyz on Marz</span>
			</div>
		</div>
	</div>

	<span class="playlist-shuffle-btn"><i class="mdi mdi-shuffle"></i>Shuffle play</span>
</div>