<div id="app-playlist">
	<div class="playlist-header">
		<img class="playlist-img playlist-img-header" src="{playlist_img}">
		<div class="playlist-header-info">
			<h3 class="playlist-header-name">{playlist_name}</h3>
			<p class="playlist-header-desc">{playlist_description}</p>
		</div>
		<div class="view-header-actions">
			<i class="mdi mdi-heart-outline"></i>
			<i class="mdi mdi-dots-horizontal f-right"></i>
		</div>
	</div>

	<div class="playlist-content">
		{songs_list}
	</div>

	<span class="playlist-shuffle-btn" onclick="playUri('{playlist_uri}', true)"><i class="mdi mdi-shuffle"></i>Shuffle play</span>
</div>