<div id="app-playlist">
	<div class="playlist-header">
		<img class="playlist-img playlist-img-header" src="{playlist-img}">
		<div class="playlist-header-info">
			<h3 class="playlist-header-name">{playlist-name}</h3>
			<p class="playlist-header-desc">{playlist-description}</p>

			<div class="view-header-actions">
				<div class="playlist-follow-btn{playlist-follow-btn-class}" {playlist-follow-btn-function}>{playlist-follow-btn-text}</div>

				<i class="mdi mdi-dots-horizontal header-actions-more" onclick="openContextMenu('{playlist-uri}')"></i>
			</div>
		</div>
	</div>

	<div class="playlist-content">
		{songs-list}
	</div>

	<span class="playlist-shuffle-btn" onclick="playUri('{playlist-uri}', true)"><i class="mdi mdi-shuffle"></i>Shuffle play</span>
</div>